:root {
	/* color theme */
	--backgroundColor: #11151c;
	--textColor: #d6d6d6;
	--bubbleColor: #b3bed0;
	--blockColor: #2646a6;
	--blockBorderColor: #3d3f51;
}

body {
	background-color: var(--backgroundColor);
}

.squareBubble {
	background-color: var(--backgroundColor);
	min-height: 30px;
	width: 317px;
	border: 3px solid var(--bubbleColor);
	border-radius: 5px;
	position: relative;
	left: 50%;
	margin-left: -158px;
	margin-top: 30px;
}

.bubbleLabel {
	background-color: var(--backgroundColor);
	color: var(--bubbleColor);
	height: fit-content;
	width: fit-content;
	font-size: 15px;
	padding: 5px;
	position: relative;
	top: -20px;
}

.block {
	height: 60px;
	width: 300px;
	background-color: var(--blockColor);
	border: 2px solid var(--blockBorderColor);
	position: relative;
	left: 7px;
	bottom: 7px;
}
.block:hover {
	cursor: pointer;
}

.submit {
	width: 20%;
}

.flex {
	display: flex;
}

.gear {
	width: 20%;
	border-right: 2px solid var(--blockBorderColor);
}

.middle {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.slice {
	width: 100%;
	border: none;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: x-large;
	color: var(--textColor);
}

.undo {
	width: 20%;
	border-left: 2px solid var(--blockBorderColor);
}

.input {
	width: 80%;
	color: var(--textColor);
	background-color: var(--blockBorderColor);
	text-align: center;
	font-size: x-large;
}

.centerText {
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	color: var(--textColor);
	font-size: x-large;
}

.svg {
	height: 60%;
	width: 60%;
	position: relative;
	top: 15%;
}
